.content {
  @include flex(space-between, row);
  margin: 3.9rem;
  .bigbanner--right {
    margin-left: 3.9rem;
  }
  .bigbanner--left {
    margin-right: 3.9rem;
  }
  .bigbanner--left,
  .bigbanner--right {
    width: 71.8rem;
    height: 51.1rem;
    left: calc(50% - 71.8rem / 2 - 20.6rem);
    top: 36.2rem;
    background: $bg-color;
    border: 0.1rem solid $bg-color-primary;
    border-radius: 2rem;
    padding: 1rem 3rem;
  }
  &__heading {
    width: 41rem;
    height: 9.6rem;
    left: calc(50% - 51rem / 2 - 26rem);
    top: 41.2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.8rem;
    color: $color-secondary-text;
  }
  &__paragraph {
    width: 26.6rem;
    height: 7.2rem;
    left: calc(50% - 26.6rem / 2 - 38.2rem);
    top: 52.3rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-primary-text;
  }
  // &__list {
  // }
  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 2.4rem;
    left: calc(50% - 20.9rem / 2 - 36.5rem);
    top: 62.1rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-primary-text;
    text-transform: capitalize;
  }
  &__check {
    margin-right: 2.5rem;
    height: 2.3rem;
    // padding: 1rem;
    width: 2.4rem;
    left: -0.0006103515625rem;
    top: 0.336rem;
    border-radius: 0px;
    left: calc(50% - 71.8rem / 2 - 20.6rem);
    top: 36.2rem;
    background: $bg-color;
    border: 1px solid $bg-color-primary;
    border-radius: 2rem;
  }
  &__more {
    padding: 0 0 5rem 5rem;
    width: 20.9rem;
    height: 2.4rem;
    left: calc(50% - 20.9rem / 2 - 36.5rem);
    top: 72rem;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-primary;
    text-transform: capitalize;
  }
  &__btn {
    border: none;
    height: 5rem;
    width: 22.1rem;
    left: 0px;
    top: 0px;
    background: $bg-color;
    border: 1px solid $color-primary;
    border-radius: 1.2rem;
    transform: translateY(9.5rem);
  }
  &__illustration {
    width: 37.191rem;
    height: 26.931rem;
    left: calc(50% - 37.191rem / 2 - 8.387rem);
    top: 55.4rem;
  }

  .pie {
    @include flex(space-between, row);
  }
  &__title {
    width: 9.4rem;
    height: 3rem;
    left: calc(50% - 9.4rem / 2 + 26.9rem);
    top: 39.2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: $color-secondary-text;
  }
  .list {
    @include flex(space-between, row);
  }
  .listcont {
    line-height: 5rem;
    transform: translate(-3rem, -3rem);
  }
  &__checkbox {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  &__input {
    height: 2rem;
    width: 2rem;
    left: 0.199993896484375;
    top: 0.2rem;
    border-radius: 0px;

    gap: 1rem;
  }
  &__label {
    transform: translateX(-2rem);
    height: 2.4rem;
    left: calc(50% - 4.6rem / 2 + 63.6rem);
    top: 39.9rem;

    /* H7 / Poppins / Reguler 16 */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color-secondary-text;
  }
  &__option {
    width: 3.8rem;
    height: 3.8rem;
    left: calc(50% - 3.8rem / 2 + 86.8rem);
    top: 39.2rem;

    /* White */

    background: $bg-color;
    /* White */

    border: 0.1rem solid $bg-color;
    border-radius: 1.2rem;
  }
  &__elipse {
    @include flex(space-between, row);
  }
  .elipse {
    text-align: center;
    @include flex(start, column);

    & > * {
      gap: 2rem;
    }

    span {
      width: 3.3rem;
      height: 2.7rem;
      left: calc(50% - 3.3rem / 2 + 31.535rem);
      top: 54.1rem;
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 2.7rem;
      color: $color-secondary-text;
    }
    .span--1 {
      transform: translate(0rem, 9rem);
    }
    .span--2 {
      transform: translate(-1.5rem, 9rem);
    }
    .span--3 {
      transform: translate(-3.9rem, 5rem);
    }
  }
  &__circle-3 {
    transform: translateY(-4rem);
  }
  &__paragraph-1 {
    text-transform: capitalize;
    // width: 117px;
    height: 2.4rem;
    left: calc(50% - 11.7rem / 2 + 31.65rem);
    top: 65.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: $color-secondary-text;
  }
  .minibanner {
    @include flex(space-between, row);
    border-top: 0.1rem dashed #d7d7d7;
    border-radius: 1.4rem;
    transform: translateY(12rem);
    // line-height: 2rem;
    // &__text {
    // }
    &--btn {
      text-transform: capitalize;
      width: 16.1rem;
      height: 5rem;
      left: calc(50% - 16.1rem / 2 + 76.95rem);
      top: 78.1rem;
      padding: 1rem 0 2rem 0;
      background: $bg-color;
      border: 1px solid $color-primary;
      border-radius: 1.2rem;
    }
  }
  &__head {
    padding: 1rem 0 2rem 0;
    text-transform: capitalize;
    width: 41.6rem;
    height: 2.7rem;
    left: calc(50% - 41.6rem / 2 + 43rem);
    top: 75.4rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: $color-secondary-text;
  }
  &__paragraph-2 {
    width: 41.6rem;
    height: 42px;
    left: calc(50% - 41.6rem / 2 + 43rem);
    top: 79.2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $color-primary-text;
  }
}
