*,
*::before,
*::before {
  content: '';
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px/16px
}

body {
  background: $bg-secondary-color;
  box-sizing: border-box;
}
