$color-primary: #00a389;
$color-secondary: #106255;
$color-primary-text: #717579;
$color-secondary-text: #1d1b23;
$color-text-pink: #ff73bf;
$bg-color: #ffffff;
$bg-color-primary: #eeeeee;
$bg-secondary-color: #fbfbfb;
